@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background-color: #dddde4;
}

nav {
    background-color: #e9e9e9;
    display: inline-flex;
    padding: 1% 15% 1% 15%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 4px 0 #333;
    position: fixed;
    z-index: 2;
    min-height: 65px;
}

#logo {
    width: 150px;
}

.nav-button {
    cursor: pointer;
}
.nav-button:hover { 
    text-decoration: underline;
}

.buttons-frame {
    align-self: center;
    font-size: large;
}

#content {
    position: absolute;
    top: 100px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    padding: 0 15% 0 15%;
    justify-content: space-between;
    margin-bottom: 100px;
}

.description {
    padding-top: 3%;
    text-align: justify;
}

.partners-stack {
    padding: 3% 0 5% 0;
}
